<h1>Witamy w systemie raportowania wyników w grze Bowling!</h1>
<br><br>
<p>
    W tym systemie możesz wczytać swoje wyniki gry w kręgle, przesyłając je za pomocą przycisku poniżej.
    Pamiętaj tylko o tym, by to był plik w formacie .txt.
</p>
<br>
<label>Wczytaj plik: </label>
<input type="file" (change)="loadData($event)">
<br>
<table border="1">
    <thead>
        <th>Zawodnik</th>
        <th>Wynik</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
    </thead>
    <tbody>
        <tr *ngFor="let res of jsonResults">
            <td>{{ res.name }}</td>
            <td>{{ totalScore }}</td>
            <td>{{ res.score[0] }}</td>
            <td>{{ res.score[1] }}</td>
            <td>{{ res.score[2] }}</td>
            <td>{{ res.score[3] }}</td>
            <td>{{ res.score[4] }}</td>
            <td>{{ res.score[5] }}</td>
            <td>{{ res.score[6] }}</td>
            <td>{{ res.score[7] }}</td>
            <td>{{ res.score[8] }}</td>
            <td>{{ res.score[9] }}</td>
            <td>{{ res.score[10] }}</td>
            <td>{{ res.score[11] }}</td>
            <td>{{ res.score[12] }}</td>
            <td>{{ res.score[13] }}</td>
            <td>{{ res.score[14] }}</td>
            <td>{{ res.score[15] }}</td>
            <td>{{ res.score[16] }}</td>
            <td>{{ res.score[17] }}</td>
            <td>{{ res.score[18] }}</td>
            <td>{{ res.score[19] }}</td>
            <td>{{ res.score[20] }}</td>
            <td>{{ res.score[21] }}</td>
        </tr>
    </tbody>
</table>
