<div class="container">
    <div class="header p-3 mb-2 bg-secondary text-white">
        <h1>Witamy w systemie raportowania wyników w grze Bowling!</h1>
        <br><br>
        <p>
            W tym systemie możesz wczytać swoje wyniki gry w kręgle, przesyłając je za pomocą przycisku poniżej.
            Pamiętaj tylko o tym, by to był plik w formacie .txt.
        </p>
    </div>
    <div class="content p-3 mb-2 bg-dark text-white">
        <label>Wczytaj plik: </label>
        <input class="btn btn-primary" type="file" (change)="loadData($event)">
        <table id="resultsTable" class="table table-dark" border="2" align="center">
            <thead>
                <th scope="col">Zawodnik</th>
                <th scope="col">Wynik</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">6</th>
                <th scope="col">7</th>
                <th scope="col">8</th>
                <th scope="col">9</th>
                <th scope="col">10</th>
                <th scope="col">11</th>
                <th scope="col">12</th>
                <th scope="col">13</th>
                <th scope="col">14</th>
                <th scope="col">15</th>
                <th scope="col">16</th>
                <th scope="col">17</th>
                <th scope="col">18</th>
                <th scope="col">19</th>
                <th scope="col">20</th>
                <th scope="col">21</th>
                <th scope="col">22</th>
            </thead>
            <tbody>
                <tr>
                    <!-- <td>{{ res.name }}</td>
                    <td>{{ res.totalScore }}</td>
                    <td>{{ res.score[0] }}</td>
                    <td>{{ res.score[1] }}</td>
                    <td>{{ res.score[2] }}</td>
                    <td>{{ res.score[3] }}</td>
                    <td>{{ res.score[4] }}</td>
                    <td>{{ res.score[5] }}</td>
                    <td>{{ res.score[6] }}</td>
                    <td>{{ res.score[7] }}</td>
                    <td>{{ res.score[8] }}</td>
                    <td>{{ res.score[9] }}</td>
                    <td>{{ res.score[10] }}</td>
                    <td>{{ res.score[11] }}</td>
                    <td>{{ res.score[12] }}</td>
                    <td>{{ res.score[13] }}</td>
                    <td>{{ res.score[14] }}</td>
                    <td>{{ res.score[15] }}</td>
                    <td>{{ res.score[16] }}</td>
                    <td>{{ res.score[17] }}</td>
                    <td>{{ res.score[18] }}</td>
                    <td>{{ res.score[19] }}</td>
                    <td>{{ res.score[20] }}</td>
                    <td>{{ res.score[21] }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer p-3 mb-2 bg-secondary text-white">
        <span>&copy; 2021 by Paweł Turoń. All rights reserved.</span>
    </div>
</div>
